ILoSA/__pycache__/__init__.cpython-38.pyc
ILoSA/__pycache__/data_prep.cpython-38.pyc
ILoSA/__pycache__/gaussian_process.cpython-38.pyc
ILoSA/__pycache__/ILoSA.cpython-38.pyc
ILoSA/__pycache__/panda.cpython-38.pyc
ILoSA/__pycache__/utils.cpython-38.pyc
example/.ipynb_checkpoints/Gaussian Process Dynamical System -checkpoint.ipynb

ILoSA.egg-info/
build/


